<div class="row">
 <div class="col-sm-8 ml-auto mr-auto">
<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title,class:'form-control' %>
    </p>
  
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text,class:'form-control' %>
    </p>
  
    <p>
      <%= form.label :images %><br />
      <%= form.file_field :img %>
    </p>
  
    <p><%= form.check_box :remove_img %>画像を削除する</p>
  
    <p class="text-right">
      <%= form.submit 'Submit',class:'btn btn-outline-primary' %>
    </p>
  <% end %>
<% @articles.each do |article| %>
  <div class="card mt-2">
   <div class="card-img-top">
    <img src="<%= article.img.url %>" width="100%" height="100%" />
   </div>
   <div class="card-body">
   <%= article.title %>
    <%= article.text %>
    <%= link_to 'Show',article_path(article) %>
    (<%= article.liked_users.count %>)
   </div>
  </div>
<% end %>
</table>
  </div>
</div>